@charset "UTF-8";

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Corpo */
body {
  background-color: #374440;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main com as duas sections lado a lado */
main {
  display: flex;
  gap: 0;  /* deixa as sections grudadas */
  padding: 2rem;
}

/* Formulário */
.form-container {
  background-color: #0f6d40;
  width: 500px;
  height: 600px;
  padding: 2rem;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: ;
}

label {
  font-weight: bold;
  color: white;
  text-align: center;
}

input {
  padding: 0.6rem;
  border: none;
  border-radius: 0.4rem;
}

button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #5ee646;
}

/* Container da imagem + resultado */
.img-container {
  background-color: #f0eeef;
  background-image: url(imagens/fundo.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 100%;
  width: 900px;
  height: 600px;
  padding: 2rem;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.img-container img {
  max-width: 300px;
}

#resultado {
  display: none;
  font-size: 2rem;
  color: white;
  background: #0f6d40;
  width: 465px;
  height: 100px;
  line-height: 100px; 
  border-radius: 1rem;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  margin-right: 1rem;
  text-align: center;
}

